/*

Menu

*/

@font-face {
    font-family:Socialico !important;
    font-style:normal !important;
    font-weight:normal !important; 
}

.nav1 {
    font-size: 2.0em !important;
    line-height: 1.0em !important;
    color: white !important;
    
    width:6em !important;
    height: 9.0em !important;

    position:absolute !important;
    top:0; bottom:0 !important;
    margin:auto !important;
    left: -4.5em !important;
}

.nav1 ul {
    list-style: none !important;
    margin: 0 !important;
    padding: 0 !important;
}

.nav1 ul li {
    background-color: blue !important;
    height: 1.0em !important;
    padding: 0.25em !important;
    position: relative !important;

    border-top-right-radius: 0.75em !important;
    border-bottom-right-radius: 0.75em !important;

    -webkit-transition: -webkit-transform 500ms, background-color 500ms, color 500ms !important;
    transition: transform 500ms, background-color 500ms, color 500ms !important;
}

.nav1 ul li:nth-child(1) { background-color: black !important;}
.nav1 ul li:nth-child(2) { background-color: white !important;}
.nav1 ul li:nth-child(3) { background-color: black !important;}
.nav1 ul li:nth-child(4) { background-color: white !important;}
.nav1 ul li:nth-child(5) { background-color: #00aced !important;}
.nav1 ul li:nth-child(6) { background-color: #00aced !important;}

.nav1 ul li:hover {
    background-color: #C1232D !important;
    -webkit-transform: translateX(4.5em) !important;
    transform: translateX(4.5em) !important;
}

.nav1 ul li span {
    display:block;
    font-family: Socialico !important;
    position: absolute !important;
    font-size:1.0em !important;
    line-height: 1.25em !important;
    height:1.0em !important;
    top:0; bottom:0 !important;
    margin:auto !important;
    right: 0.50em !important;
    color: #F8F6FF!important;
}

.letra{

    color: black !important;

}

.aMenu {
    color: #FFF !important;
    text-decoration: none !important;
    font: normal 1.0em Impact, sans-serif !important;
}

.menuImg{
    width: 20% !important;
    margin-left: 150px !important;
}

.img2Menu{

    width: 18% !important;
}

/*
@font-face {
    font-family:"Socialico";
    src:url("Socialico.eot?") format("eot"),
        url("Socialico.woff") format("woff"),
        url("Socialico.ttf") format("truetype"),
        url("Socialico.svg#Socialico") format("svg");
        font-weight:normal;
        font-style:normal;
}*/