/*

Menu

*/

@font-face {
    font-family:Socialico !important;
    font-style:normal;
    font-weight:normal ; 
}

nav {
    font-size: 2.0em;
    line-height: 1.0em;
    color: white;
    
    width:6em;
    height: 9.0em;

    position:absolute;
    top:0; bottom:0;
    margin:auto;
    left: -4.5em;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    background-color: blue ;
    height: 1.0em;
    padding: 0.25em;
    position: relative;

    border-top-right-radius: 0.75em;
    border-bottom-right-radius: 0.75em;

    -webkit-transition: -webkit-transform 500ms, background-color 500ms, color 500ms;
    transition: transform 500ms, background-color 500ms, color 500ms;
}

nav ul li:nth-child(1) { background-color: black;}
nav ul li:nth-child(2) { background-color: white;}
nav ul li:nth-child(3) { background-color: black;}
nav ul li:nth-child(4) { background-color: white;}
nav ul li:nth-child(5) { background-color: #00aced;}
nav ul li:nth-child(6) { background-color: #00aced;}

nav ul li:hover {
    background-color: #C1232D;
    -webkit-transform: translateX(4.5em);
    transform: translateX(4.5em);
}

nav ul li span {
    display:block;
    font-family: Socialico;
    position: absolute;
    font-size:1.0em;
    line-height: 1.25em;
    height:1.0em;
    top:0; bottom:0;
    margin:auto;
    right: 0.50em;
    color: #F8F6FF;
}

.letra{

    color: black;

}

.aMenu {
    color: #FFF;
    text-decoration: none;
    font: normal 1.0em Impact, sans-serif;
}

.menuImg{
    width: 20%;
    margin-left: 150px;
}

.img2Menu{

    width: 18%;
}

/*
@font-face {
    font-family:"Socialico";
    src:url("Socialico.eot?") format("eot"),
        url("Socialico.woff") format("woff"),
        url("Socialico.ttf") format("truetype"),
        url("Socialico.svg#Socialico") format("svg");
        font-weight:normal;
        font-style:normal;
}*/